{% extends 'layout/gestion_header.html.twig' %}
{% block body %}
    {{ encore_entry_script_tags('modal') }}
<div id="delete-confirmation-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger has-text-white">
            <p class="modal-card-title has-text-white">Confirmation de suppression</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Êtes-vous sûr de vouloir supprimer cet élément ? Cette action ne peut pas être annulée.</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger" id="confirm-delete-modal-button">Supprimer</button>
            <button class="button" id="cancel-delete-modal-button">Annuler</button>
        </footer>
    </div>
</div>

<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box has-background-danger has-text-white">
      <p class="has-text-white">Erreur de permission</p>
      <p class="has-text-white">Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="container">
    <div class="level">
        <div class="level-left">
            <h1 class="title">Liste des instructeurs</h1>
        </div>
        <div class="level-right">
            {% if isAdmin == 0 %}
                <a href="{{ path('instruc_create') }}" class="button is-success"><i class="fas fa-plus"></i>&nbsp;Ajouter</a>
            {% else %}
                <a data-target="modal-js-example" id="js-modal-trigger" class="button is-success"><i class="fas fa-plus"></i>&nbsp;Ajouter</a>
            {% endif %}
        </div>
    </div>
    <table id="myTable" class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Identifiant interne</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Num Civil</th>
                <th>Taux instructeur</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Fax</th>
                <th>E-mail</th>
                <th>Numéro de badge</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for av in instructeurs %}
            <tr>
                <td>{{ av.numInstructeur }}</td>
                <td>{{ av.nom }}</td>
                <td>{{ av.prenom }}</td>
                <td>{{ av.numCivil }}</td>
                <td>{{ av.tauxInstructeur }}</td>
                <td>{{ av.adresse }}</td>
                <td>{{ av.codePostal }}</td>
                <td>{{ av.ville }}</td>
                <td>{{ av.tel }}</td>
                <td>{{ av.fax }}</td>
                <td>{{ av.email }}</td>
                <td>{{ av.numbadge.numbadge }}</td>
                <td><div class="field is-grouped">
                    {% if isAdmin == 0 %}
                            <div class="control">
                                <a href="{{ path('instructeur_edit', {'id': av.numInstructeur}) }}" class="button is-primary is-small">
                                    <span class="icon is-small">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                    <span>Modifier</span>
                                </a>
                            </div>
                            <div class="control">
                            <form action="{{ path('instruc_delete', {'id': av.numInstructeur}) }}" method="post" data-modal-target="delete-confirmation-modal">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="button is-danger is-small" id="confirm-delete-button">

                                        <span class="icon is-small">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span>Supprimer</span>
                                    </button>
                                </form>
                            </div>
                        {% else %}
                            <div class="control">
                                <a data-target="modal-js-example" id="js-modal-trigger" class="button is-primary is-small">
                                    <span class="icon is-small">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                    <span>Modifier</span>
                                </a>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-danger is-small" data-target="modal-js-example" id="js-modal-trigger" >
                                    <span class="icon is-small">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span>Supprimer</span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Identifiant interne</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Num Civil</th>
                <th>Taux instructeur</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Fax</th>
                <th>E-mail</th>
                <th>Numéro de badge</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function() {$('#myTable').DataTable(
            {
                "lengthMenu": [ [10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "All"] ],
            }
        );});
    </script>
</div>

{% endblock %}